<mat-toolbar color="primary" class="shell-toolbar">
  @if (!isSideMode()) {
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle navigation">
      <mat-icon>menu</mat-icon>
    </button>
  }

  <a routerLink="/" class="shell-brand" aria-label="La Ruta Mochilera">
    <img src="brand/logo-on-light.png" alt="" class="shell-logo" width="40" height="40" />
    <span class="shell-title">La Ruta <strong>Mochilera</strong></span>
  </a>
  <span class="shell-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="languageMenu" aria-label="Change language">
    <mat-icon>translate</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item class="shell-language-es" (click)="switchLanguage('es')">Español</button>
    <button mat-menu-item class="shell-language-en" (click)="switchLanguage('en')">English</button>
  </mat-menu>

  @if (auth.user(); as user) {
    <span class="shell-user">{{ user.fullName }}</span>
  }

  <button mat-icon-button class="shell-sign-out" (click)="signOut()" [attr.aria-label]="'auth.signOut' | translate">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="shell-container">
  <mat-sidenav
    #sidenav
    [mode]="isSideMode() ? 'side' : 'over'"
    [opened]="isSideMode()"
    class="shell-sidenav"
  >
    <mat-nav-list>
      <ng-container *rmHasPermission="'trip.view'">
        <a mat-list-item routerLink="/trips" routerLinkActive="active-link">
          <mat-icon matListItemIcon>luggage</mat-icon>
          <span matListItemTitle>{{ 'nav.trips' | translate }}</span>
        </a>
      </ng-container>
      <ng-container *rmHasPermission="'reservation.view'">
        <a mat-list-item routerLink="/reservations" routerLinkActive="active-link">
          <mat-icon matListItemIcon>event_seat</mat-icon>
          <span matListItemTitle>{{ 'nav.reservations' | translate }}</span>
        </a>
      </ng-container>
      <ng-container *rmHasPermission="'customer.view'">
        <a mat-list-item routerLink="/customers" routerLinkActive="active-link">
          <mat-icon matListItemIcon>groups</mat-icon>
          <span matListItemTitle>{{ 'nav.customers' | translate }}</span>
        </a>
      </ng-container>
      <ng-container *rmHasPermission="'import.manage'">
        <a mat-list-item routerLink="/imports" routerLinkActive="active-link">
          <mat-icon matListItemIcon>upload_file</mat-icon>
          <span matListItemTitle>{{ 'nav.imports' | translate }}</span>
        </a>
      </ng-container>
      <ng-container *rmHasPermission="'staff.view'">
        <a mat-list-item routerLink="/staff" routerLinkActive="active-link">
          <mat-icon matListItemIcon>badge</mat-icon>
          <span matListItemTitle>{{ 'nav.staff' | translate }}</span>
        </a>
      </ng-container>
      <ng-container *rmHasPermission="'role.view'">
        <a mat-list-item routerLink="/roles" routerLinkActive="active-link">
          <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
          <span matListItemTitle>{{ 'nav.roles' | translate }}</span>
        </a>
      </ng-container>
      <ng-container *rmHasPermission="'settings.manage'">
        <a mat-list-item routerLink="/settings/organization" routerLinkActive="active-link">
          <mat-icon matListItemIcon>storefront</mat-icon>
          <span matListItemTitle>{{ 'nav.settings' | translate }}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="shell-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
